pipeline/TestEmailSendLogicApp.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-07.centralus.logic.azure.com:443/workflows/035e136515624ef09b2163580303d3b3/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=huurzyGtRReGm7oIp8RLChEm--XvC4ZZ025aZYIYOxQ",
					"body": {
						"value": "{\n        \"Pipeline\":\"@{pipeline().Pipeline}\",\n        \"ErrorMessage\":\"No Error\",\n\t\t\"DataFactoryName\":\"@{pipeline().DataFactory}\",\n        \"Runid\":\"@{pipeline().RunId}\",\n        \"FileName\":\"@{variables('FilePath')}\",\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FilePath",
					"value": {
						"value": "/testemail/testemail/Test_Email.csv",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"FilePath": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-09-23T12:38:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}